#include <windows.h>
#pragma code_page(65001)

1 ICON "ub.ico"
1 RT_MANIFEST "gui.manifest"

1 VERSIONINFO
 FILEVERSION 0,1,0,7
 PRODUCTVERSION 0,1,0,7
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS VS_FF_PRERELEASE
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "geturin\0"
            VALUE "FileDescription", "UNI2 Blacklist\0"
            VALUE "FileVersion", "0.1.0-candidate.7\0"
            VALUE "InternalName", "UNI2Blacklist\0"
            VALUE "LegalCopyright", "Copyright (C) 2026 geturin\0"
            VALUE "OriginalFilename", "UNI2Blacklist.exe\0"
            VALUE "ProductName", "UNI2 Blacklist\0"
            VALUE "ProductVersion", "0.1.0-candidate.7\0"
        END
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "geturin\0"
            VALUE "FileDescription", "UNI2 黑名单\0"
            VALUE "FileVersion", "0.1.0-candidate.7\0"
            VALUE "InternalName", "UNI2Blacklist\0"
            VALUE "LegalCopyright", "Copyright (C) 2026 geturin\0"
            VALUE "OriginalFilename", "UNI2Blacklist.exe\0"
            VALUE "ProductName", "UNI2 黑名单\0"
            VALUE "ProductVersion", "0.1.0-candidate.7\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200, 0x0804, 1200
    END
END
